//colors
$primary: #b20d0d;
$secondary: #ff6060 ;
$alternative: #707070 ;

//font-family
$font-principal: "Montserrat", sans-serif;

//font-size
$text-small:2vh;
$text-base: 3vh;
$text-medium:5vh;
$text-large:6vh;
$text-xl: 8vh;

//font-weight
$weight-thin:300;
$weight-base:400;
$weight-semibold:600;
$weight-bold:700;

