* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar {
  height: 60px;
  width: 100vw;
  padding: 0 20px 0 50px;
  background-color: black !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.navbar-nav {
  padding: 5 20px;
  box-sizing: border-box;
}

.nav-item a {
  color: white !important;
}
.nav-item a:hover {
  color: #ff6060 !important;
}
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 700;
}
h1 {
  font-weight: 700;
}

.header {
  height: 60px;
  padding: 0 50px 0 50px;
  background-color: black !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
}
.header * {
  line-height: 20px;
  color: white;
}

.header__a {
  font-weight: 500;
  font-size: 20px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.nav__li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

.nav__a:hover {
  color: #ff6060;
}

.nav-icon:hover {
  color: #ff6060;
}

.footer {
  background: #b20d0d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.footer__ul {
  align-items: center;
}

.footer__li {
  padding-top: 15px;
  list-style: none;
  display: inline-block;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 28px;
}
.footer__a:hover {
  color: #000;
}

.footer__disclaimer {
  font-size: 12px;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  color: white;
  padding-left: 50px;
  padding-right: 15px;
}
.disclaimer__ul {
  padding: 0px;
}
.disclaimer__li {
  display: inline-block;
  list-style: none;
  font-size: 12px;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  color: white;
}
.disclaimer__a:hover {
  color: #000;
}
/* ------------------- HOME ---------------------*/

.containerPage {
  position: absolute;
  z-index: -1;
  height: fit-content;
  width: fit-content;
}

/* -------------- primera seccion ------------ */

.primeraSeccion {
  position: relative;
  height: fit-content;
  min-height: 100vh;
}

.primeraSeccion__video {
  position: absolute;
  z-index: 1;
  left: 0 !important;
  height: 100vh;
  width: 100% !important;
  top: 0;
  object-fit: cover;
}
.primeraSeccion__overlay {
  position: absolute;
  z-index: 2;
  margin-top: 50px;
  background: none;
  width: 100%;
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
}

.overlay__h1 {
  color: white;
  font-size: 70px;
}
.overlay__icon {
  justify-content: end;
  color: white;
  font-size: 50px;
}
.overlay__icon:hover {
  justify-content: end;
  color: #ff6060;
  font-size: 50px;
}
/*  ------------- segunda seccion ------------ */
.segundaSeccion {
  background-color: black;
  background-size: cover;
}
.segundaSeccion__container {
  background-size: cover;
  background: black;
  color: white;
  width: 100% !important;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  align-content: center !important;
  padding: 0px 30px;
}

.segundaSeccion__texto {
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 30px;
}
.segundaSeccion__texto--mobile {
  visibility: hidden;
  height: 0;
}

/* -------------- tercera seccion ---------------- */
.terceraSeccion {
  min-height: 80vh;
  height: fit-content;
  width: 100%;
  padding: 0 30px 30px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.proyecto {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.terceraSeccion__h2 {
  color: #b20d0d;
  text-align: center;
  font-size: 50px;
}
.terceraSeccion__figure {
  position: relative;
  height: 420px;
  width: 420px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.proyecto__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 500ms ease-out;
}

.proyecto__capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  text-align: center;
}

.proyecto__texto {
  height: 100%;
  object-fit: cover;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.proyecto__capa:hover {
  opacity: 1;
}
/* ---------------------------- eventos ------------------------------- */
.contenedorPagina {
  height: fit-content;
  width: 100%;
  margin: none;
}
.contenedorBanner {
  margin-top: 65px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 20px;
}
.eventos__banner {
  width: 100%;
  position: relative;
}
.banner__img {
  width: 100%;
  max-height: 400px;
  height: 100%;
  min-height: 200px;
  object-fit: cover;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);;
}
.banner__tit{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
.banner__h1{
  color: #b20d0d;
  font-size: 180px;
  

}
.eventos {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #707070;
}
.listado__item {
  width: 90vw;
  display: grid;
  grid-template-areas:
    "date event  location info"
    "date  band  location info";
  column-gap: 10px;
  grid-row-gap: 0px;
  grid-template-columns: 25% 35% 20% 20%;
}

.date {
  grid-area: date;
  font-weight: 600;
}

.event {
  grid-area: event;
  font-weight: 800;
}
.location {
  grid-area: location;
  font-weight: 700;
}
.band {
  padding-top: 0px;
  grid-area: band;
  color: #707070;
  font-size: 16px;
}
.band__a {
  font-weight: 700;
}
.info {
  grid-area: info;
  padding-right: 10px;
}
.listado__item--a {
  color: #b20d0d !important;
}
.listado__item--a:hover {
  color: #ff6060 !important;
}
.suscripcion {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
.suscripcion__h4 {
  padding: 20px 15px;
  text-align: center;
}
.suscripcion__input {
  border-bottom: 3px solid #b20d0d;
  box-sizing: border-box;
  width: 300px;
  border-radius: 5px;
}
.suscripcion__button {
  color: #b20d0d;
  background: none;
  width: fit-content;
  border-radius: 20px;
  font-size: 25px;
  box-shadow: none;
  border: none;
  text-align: center;
}

.suscripcion__button:hover {
  color: #ff6060;
}
/* ------------------------------- galeria ----------------------------- */

.galeria {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #b20d0d;
  font-size: 40px;
}
.galeria__contenedor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  padding: 0px 70px;
  row-gap: 5px;
  column-gap: 10px;
}

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galeria__item:nth-child(1) {
  grid-column-start: span 2;
}
.galeria__item:nth-child(2) {
  grid-row-start: span 3;
}
.galeria__item:nth-child(3) {
  grid-column-start: span 2;
}
.galeria__item:nth-child(4) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.galeria__item:nth-child(5) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.video__contenedor {
  height: 120vh;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding-bottom: 40px;
  row-gap: 20px;
  column-gap: 20px;
}
.video__iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ---------------------- clases y workshops ----------------------------- */
.clases {
  background: black;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.clases__seccion1 {
  background: black;
  width: 100%;
  color: white;
  display: grid;
  grid-template-areas:
    "texto vertical"
    "texto vertical";
  grid-template-columns: 60% 30%;
  padding-top: 80px;
  column-gap: 20px;
  row-gap: none;
  position: absolute;
  z-index: -1;
}
.clases__contenedorTexto {
  grid-area: texto;
  padding-left: 30px;
  padding-right: 400px;
}
.clases_contenedorImagenes--vertical {
  grid-area: vertical;
}
.clases_contenedorImagenes--horizontal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: black;
}
.clases__img--vertical {
  width: 130%;
  object-fit: cover;
}
.clases__img {
  width: 100%;
  object-fit: cover;
}
.clases__overlay {
  display: flex;
  justify-content: center;
}
.overlay__img {
  height: 105vh;
  padding-left: 200px;
}
.clases__h2 {
  font-size: 38px;
  font-weight: 700;
}
.clases__h3 {
  font-size: 30px;
  font-weight: 400;
}
.clases__p {
  font-size: 20px;
  font-weight: 400;
}
.clases__contenedorBoton {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.clases__button {
  background-color: #b20d0d;
  height: 70px;
  width: 300px;
  border-radius: 40px;
  color: white;
  font-size: 25px;
}
.clases__button:hover {
  background-color: #ff6060;
  height: 70px;
  width: 300px;
  border-radius: 40px;
  color: white;
  font-size: 25px;
}
.clases__button:visited {
  background-color: #b20d0d;
  height: 70px;
  width: 300px;
  border-radius: 40px;
  color: white;
  font-size: 25px;
  position: relative;
}

.clases__button:active {
  background-color: #ff6060;
  height: 70px;
  width: 300px;
  border-radius: 40px;
  color: white;
  font-size: 25px;
}
.clasesSeccion2{
  display: flex;
  align-items: center;
  width: 100%;
}
.clases2__item{
  width: 33.33%;
}
/* ---------------------- pagina de contacto ----------------------------- */

.paginaContacto {
  background: black;
  width: 100%;
  height: 95vh;
  color: white;
  display: grid;
  grid-template-areas:
    "contacto formulario"
    "redes formulario";
  grid-template-columns: 50% 50%;
  padding: 50px 60px;
  column-gap: 20px;
  font-size: 20px;
}
/* --------------- contactos ----------------- */
.contactos {
  align-self: center;
  grid-area: contacto;
}
.contactos__h2 {
  font-size: 40px;
}
/* ------------------ redes ------------------- */
.redes {
  grid-area: redes;
}
.redes__h2 {
  font-size: 50px;
}
.redes__li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
.formulario__contenedor {
  align-self: center;
  justify-self: center;
  grid-area: formulario;
}
.redes__contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.redes__ul {
  padding: 0 50px;
}
.redes__img {
  height: 40px;
}
/* -------------- formulario -------------- */
.formulario__nombre {
  padding: 5px 0;
}
.formulario__mail {
  padding: 5px 0;
}
.formulario__mensaje {
  padding: 5px 0;
}
.formulario__label {
  padding: 10px;
  font-size: 20px;
}

.formulario__input {
  border-radius: 20px;
  width: 350px;
  height: 40px;
  box-sizing: border-box;
}

.formulario__textarea {
  border-radius: 20px;
  font-size: 20px;
  width: 350px;
  box-sizing: border-box;
}
.formulario__contenedorBoton {
  display: flex;
  justify-content: center;
}

.formulario__button {
  color: white;
  background-color: #b20d0d;
  font-size: 20px;
  border-radius: 50px;
  height: 50px;
  width: 150px;
}
.formulario__button:hover {
  color: white;
  background-color: #ff6060;
  font-size: 20px;
  border-radius: 50px;
  height: 50px;
  width: 150px;
}

.formulario__button:active {
  color: white;
  background-color: #b20d0d;
  font-size: 20px;
  border-radius: 50px;
  height: 50px;
  width: 150px;
}
.formulario__button:visited {
  color: white;
  background-color: #b20d0d;
  font-size: 20px;
  border-radius: 50px;
  height: 50px;
  width: 150px;
}
/* ----------- footer abreviado --------- */
.footer-abreviado {
  background: #b20d0d;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ---------------- media queries ----------- */

@media (max-width: 992px) {
  /* footer */
  .footer__li {
    font-size: 30px;
    padding: 10px;
  }
  /* ---------home---------- */
  .terceraSeccion__figure {
    width: 70vw;
    height: 300px;
  }

  .segundaSeccion__texto {
    padding: 10px 5px;
    margin: 10px;
    text-align: center;
  }
  .segundaSeccion__container {
    padding: 10px;
    margin: 0;
  }
  /* ---------eventos---------- */
  .listado__item--info {
    font-size: 18px;
  }

  .contenedorPagina {
    overflow: hidden;
  }
  .banner__h1{
    font-size: 120px;
  }
}

@media (max-width: 768px) {
  .footer__ul {
    padding: 0px;
  }
  .footer__li {
    font-size: 30px;
  }
  .disclaimer {
    padding: 0px;
  }

  /* ----------home ------------ */
  .segundaSeccion__texto--mobile {
    visibility: visible;
    padding: 10px 5px;
    margin: 10px;
    text-align: center;
    height: fit-content;
  }
  .segundaSeccion__texto {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  /* --------- eventos ----------*/

  .listado__item {
    box-sizing: border-box;
    width: 80%;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 0.1fr);
    grid-template-areas:
      "date"
      "event"
      "location"
      "band"
      "info";
    row-gap: 0px;
    padding: 20px 0px;
  }
  .banner__h1{
    font-size: 80px;
  }
  .date {
    line-height: 18px;
  }

  .event {
    line-height: 35px;
  }
  .event__p {
    font-size: 30px !important;
    font-weight: 700;
  }
  .location {
    line-height: 18px;
  }

  .location__p {
    text-transform: uppercase;
  }
  .band {
    line-height: 18px;
    padding-bottom: 10px;
  }

  .suscripcion {
    padding: 10px 20px 40px 20px;
  }
}
