* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3vh;
}
@media screen and (max-width: 992px) {
  body {
    font-size: 2vh;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 8vh;
  font-weight: 700;
}

h2 {
  font-size: 6vh;
  font-weight: 700;
}

h3 {
  font-size: 5vh;
  font-weight: 600;
}

a {
  color: white !important;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  height: 60px;
  width: 100%;
  padding: 0 20px 0 50px;
  background-color: black !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.nav {
  padding: 5 20px;
  box-sizing: border-box;
}
.nav-item a {
  font-size: 3vh;
}
.nav-item a:hover {
  color: #ff6060 !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.footer {
  background: #b20d0d;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__li {
  padding: 15px 25px 0 25px;
  display: inline-block;
  font-size: 5vh;
}
@media screen and (max-width: 992px) {
  .footer__li {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .footer__li {
    font-size: 25px;
    padding: 10px 0;
  }
}
.footer__a:hover {
  color: black !important;
}

.disclaimer {
  font-size: 2vh;
  color: white;
}
.disclaimer__li {
  display: inline-block;
  padding: 10px 5px 0px 5px;
}
.disclaimer__a:hover {
  color: black !important;
}
@media screen and (max-width: 992px) {
  .disclaimer {
    padding: 0px;
  }
}
@media screen and (max-width: 768px) {
  .disclaimer {
    font-size: 2vh;
  }
}

.container-fluid {
  overflow: hidden;
}

.primeraSeccion {
  position: relative;
  height: fit-content;
  width: 100%;
  min-height: 100vh;
  color: white;
}
.primeraSeccion__video {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.primeraSeccion__overlay {
  position: absolute;
  z-index: 2;
  margin-top: 50px;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.primeraSeccion__icon {
  font-size: 6vh;
}
.primeraSeccion__icon:hover {
  color: #ff6060;
}
@media screen and (max-width: 992px) {
  .primeraSeccion__h1 {
    padding-top: 10px;
    font-size: 6vh;
  }
}

.segundaSeccion__container {
  color: white;
  height: fit-content;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: "";
  align-items: center;
}
.segundaSeccion__texto {
  padding: 0px 10px;
}
@media screen and (max-width: 992px) {
  .segundaSeccion__texto {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
.segundaSeccion__texto--mobile {
  visibility: hidden;
  height: 0;
  width: 0;
}
@media screen and (max-width: 992px) {
  .segundaSeccion__texto--mobile {
    visibility: visible;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 10px 5px;
    margin: 10px;
  }
}

.terceraSeccion {
  min-height: 80vh;
  height: fit-content;
  width: 100%;
  padding-top: 50px;
  text-align: center;
}
.terceraSeccion__proyecto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px;
}
.terceraSeccion__h2 {
  color: #b20d0d;
}
.terceraSeccion__figure {
  position: relative;
  height: 26rem;
  width: 26rem;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .terceraSeccion__figure {
    height: 400px;
    width: 70vw;
  }
}
.terceraSeccion__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 500ms ease-out;
}
.terceraSeccion__capa {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  text-align: center;
}
.terceraSeccion__capa:hover {
  opacity: 1;
}
.terceraSeccion__texto {
  height: 100%;
  width: fit-content;
  object-fit: cover;
  padding: 0 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.contactos {
  height: fit-content;
  width: 100%;
  margin-top: 60px;
  color: white;
}
.contactos__contenedor {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.contactos__li {
  display: inline-block;
  padding: 0 20px;
}
.contactos__a {
  font-size: 4vh;
}
.contactos__a:hover {
  color: #b20d0d !important;
}

.formulario {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
@media screen and (max-width: 768px) {
  .formulario {
    padding-top: 0px;
  }
}
.formulario__input {
  border-radius: 20px;
  width: 350px;
  height: 40px;
  box-sizing: border-box;
}
.formulario__textarea {
  border-radius: 20px;
  font-size: 20px;
  width: 350px;
  box-sizing: border-box;
}
.formulario__button {
  box-shadow: none;
  border: none;
  color: white;
  background: #b20d0d;
  font-size: 2vh;
  border-radius: 50px;
  height: 50px;
  width: 150px;
}
.formulario__button:hover {
  background: #ff6060;
  color: white;
}

.contenedorPagina {
  height: fit-content;
  width: 100%;
}

.banner {
  margin-top: 65px;
  width: 80vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}
.banner__contenedor {
  width: 100%;
  position: relative;
}
.banner__tit {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.banner__h1 {
  color: #b20d0d;
  font-size: 15vw;
}
.banner__img {
  height: 100%;
  width: 100%;
  max-height: 350px;
  min-height: 150px;
  object-fit: cover;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.listado {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #707070;
}
.listado__item {
  width: 90vw;
  display: grid;
  grid-template-areas: "date event  location info" "date  band  location info";
  grid-template-columns: 25% 35% 20% 20%;
  row-gap: 0px;
  column-gap: 10px;
}
@media screen and (max-width: 768px) {
  .listado__item {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 0.1fr);
    grid-template-areas: "date" "event" "location" "band" "info";
    padding-bottom: 20px;
  }
}
.listado__item--date {
  grid-area: date;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .listado__item--date {
    font-size: 3vh !important;
  }
}
.listado__item--event {
  grid-area: event;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .listado__item--event {
    font-size: 5vh !important;
  }
}
.listado__item--location {
  grid-area: location;
  font-weight: 700;
}
.listado__item--band {
  padding-top: 0px;
  grid-area: band;
  font-size: 2vh;
}
.listado__item--a {
  font-weight: 700;
  color: #b20d0d !important;
}
.listado__item--a:hover {
  color: #ff6060 !important;
}
.listado__item--info {
  grid-area: info;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .listado__item--info {
    padding-top: 15px;
  }
}

.suscripcion {
  width: 100%;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 40px 0px;
}
.suscripcion__h4 {
  padding: 15px 0px;
  text-align: center;
}
.suscripcion__input {
  border-bottom: 3px solid #b20d0d;
  box-sizing: border-box;
  width: 300px;
  border-radius: 5px;
}
.suscripcion__button {
  box-shadow: none;
  border: none;
  color: #b20d0d;
  background: none;
  font-size: 25px;
  border-radius: 20px;
  text-align: center;
}
.suscripcion__button:hover {
  background: none;
  color: #ff6060;
}

.galeria {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  color: #b20d0d;
  font-size: 5vh;
  margin-top: 60px;
}
.galeria__contenedor {
  display: grid;
  grid-template-rows: auto;
  row-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  padding: 10px 70px;
}
.galeria__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.galeria__item {
  transition: 1s;
}
.galeria__item:nth-child(1) {
  grid-column-start: span 2;
}
.galeria__item:nth-child(2) {
  grid-row-start: span 3;
}
.galeria__item:nth-child(3) {
  grid-column-start: span 2;
}
.galeria__item:nth-child(4) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.galeria__item:nth-child(5) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.galeria__item:hover {
  transform: scale(1.03);
  z-index: 2;
}

.video {
  height: 100%;
  width: 100%;
}
.video__contenedor {
  height: 120vh;
  width: 90%;
  display: grid;
  grid-template-rows: auto;
  row-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  padding-bottom: 40px;
}
.video__iframe {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.clases {
  height: fit-content;
  width: 100%;
}
.clases__h2, .clases__h3, .clases__p {
  color: white !important;
  padding: 0 0 1vw 2vw;
}
.clases__flex {
  margin: 15vh 0 0 0;
}
.clases__grilla {
  height: fit-content;
  width: 100vw;
  display: grid;
  grid-template-rows: auto;
  row-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0px;
}
@media screen and (max-width: 768px) {
  .clases__grilla {
    grid-template-columns: repeat(5, 1fr);
  }
}
.clases__txt {
  padding: 10px 30px;
}
.clases__contenedorBton {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 3vh;
}
.clases__button {
  box-shadow: none;
  border: none;
  color: white;
  background: #b20d0d;
  font-size: 2vh;
  border-radius: 50px;
  height: 50px;
  width: 250px;
}
.clases__button:hover {
  background: #ff6060;
  color: white;
}
.clases__imagen {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 400px) {
  .clases__imagen {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
.clases__imagen:hover {
  transform: scale(1.03);
  z-index: 2;
}
.clases__item {
  position: relative;
}
@media screen and (max-width: 768px) {
  .clases__item:nth-child(1) {
    grid-column-start: span 2;
  }
  .clases__item:nth-child(2) {
    grid-column-start: span 3;
  }
  .clases__item:nth-child(3) {
    grid-column-start: span 5;
  }
}
.clases__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
